<footer class="footer-section">
  <div  class="logos">
    <div  class="logos-slider">
      <div  class="lists-container">
        <div  class="logos-list">
          <span  class="slide"><img 
              src="https://otypo.de/_nuxt/paypal.CEne0QVA.svg" alt="Paypal" title="Paypal" loading="lazy" /></span>
          <span  class="slide"><img 
              src="data:image/svg+xml,%3csvg%20width='57'%20height='23'%20viewBox='0%200%2057%2023'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20clip-path='url(%23clip0_25563_371572)'%3e%3cpath%20d='M10.415%202.96527C9.74693%203.74215%208.67806%204.3549%207.60919%204.26736C7.47558%203.21694%207.99888%202.10086%208.61125%201.41151C9.2793%200.61275%2010.4484%200.0437678%2011.3948%200C11.5061%201.0942%2011.0719%202.16651%2010.415%202.96527ZM11.3836%204.47526C9.836%204.38773%208.51105%205.33968%207.7762%205.33968C7.03021%205.33968%205.90567%204.51903%204.68092%204.54091C3.08875%204.5628%201.60791%205.4491%200.795124%206.86061C-0.874989%209.68363%200.360894%2013.8635%201.97534%2016.1613C2.76586%2017.2992%203.71226%2018.5466%204.95927%2018.5029C6.13949%2018.4591%206.60712%2017.7479%208.03228%2017.7479C9.46858%2017.7479%209.88054%2018.5029%2011.1276%2018.481C12.4191%2018.4591%2013.2319%2017.343%2014.0224%2016.205C14.9243%2014.9139%2015.2917%2013.6556%2015.314%2013.5899C15.2917%2013.568%2012.8199%2012.638%2012.7977%209.83682C12.7754%207.49524%2014.7461%206.37916%2014.8352%206.31351C13.7218%204.6941%2011.9849%204.51903%2011.3836%204.47526ZM20.3243%201.30209V18.3606H23.0188V12.5285H26.7487C30.1557%2012.5285%2032.5495%2010.2307%2032.5495%206.90438C32.5495%203.57802%2030.2003%201.30209%2026.8378%201.30209H20.3243ZM23.0188%203.53425H26.1252C28.4633%203.53425%2029.7994%204.75975%2029.7994%206.91532C29.7994%209.07088%2028.4633%2010.3073%2026.114%2010.3073H23.0188V3.53425ZM37.4708%2018.4919C39.1632%2018.4919%2040.7331%2017.6494%2041.4457%2016.3145H41.5014V18.3606H43.9954V9.86965C43.9954%207.40771%2041.9913%205.82112%2038.9071%205.82112C36.0457%205.82112%2033.9302%207.42959%2033.8522%209.63987H36.2795C36.4799%208.58944%2037.4708%207.90009%2038.8292%207.90009C40.477%207.90009%2041.4011%208.65509%2041.4011%2010.0447V10.9857L38.0386%2011.1827C34.91%2011.3687%2033.2176%2012.627%2033.2176%2014.8154C33.2176%2017.0257%2034.9656%2018.4919%2037.4708%2018.4919ZM38.1945%2016.4676C36.7582%2016.4676%2035.8452%2015.7892%2035.8452%2014.7498C35.8452%2013.6775%2036.7248%2013.0538%2038.4061%2012.9553L41.4011%2012.7693V13.7322C41.4011%2015.3297%2040.0205%2016.4676%2038.1945%2016.4676ZM47.3245%2023C49.9521%2023%2051.188%2022.0152%2052.268%2019.0281L57%205.98525H54.261L51.0878%2016.0628H51.0321L47.8589%205.98525H45.042L49.607%2018.4044L49.362%2019.1594C48.9501%2020.4396%2048.282%2020.932%2047.0907%2020.932C46.8791%2020.932%2046.4672%2020.9101%2046.3001%2020.8882V22.9343C46.456%2022.9781%2047.1241%2023%2047.3245%2023Z'%20fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath%20id='clip0_25563_371572'%3e%3crect%20width='57'%20height='23'%20fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e"
              alt="Applepay" title="Applepay" loading="lazy" /></span><span  class="slide"><img
               src="https://otypo.de/_nuxt/klarna-de.BW0iUmJc.svg" alt="Klarna" title="Klarna"
              loading="lazy" /></span><span  class="slide"><img 
              src="https://otypo.de/_nuxt/deutschepost.lW3vJog4.svg" alt="Deutsche Post" title="Deutsche Post"
              loading="lazy" /></span><span  class="slide"><img 
              src="data:image/svg+xml,%3csvg%20width='70'%20height='16'%20viewBox='0%200%2070%2016'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20clip-path='url(%23clip0_31491_317560)'%3e%3cpath%20d='M0%2014.8H8.4878L8%2015.92H0V14.8Z'%20fill='%23D40511'/%3e%3cpath%20d='M70%2015.92H59.6097L60.1463%2014.8H70.0488V15.92H70Z'%20fill='%23D40511'/%3e%3cpath%20d='M0%2012.72H9.46341L8.92683%2013.84H0V12.72Z'%20fill='%23D40511'/%3e%3cpath%20d='M0%2010.64H10.439L9.90244%2011.76H0V10.64Z'%20fill='%23D40511'/%3e%3cpath%20d='M70%2013.84H60.5854L61.1219%2012.72H70.0488V13.84H70Z'%20fill='%23D40511'/%3e%3cpath%20d='M62.0488%2010.64H70V11.76H61.5122L62.0488%2010.64Z'%20fill='%23D40511'/%3e%3cpath%20d='M9.17075%2015.92L13.6586%206.07996C13.6586%206.07996%2018.6342%206.07996%2019.2195%206.07996C19.8537%206.07996%2019.8537%206.47996%2019.5122%207.11996C19.2195%207.75996%2018.6829%208.95996%2018.3903%209.59996C18.2439%209.99996%2017.9512%2010.56%2018.8781%2010.56C19.9025%2010.56%2026.3415%2010.56%2026.3415%2010.56C25.7561%2012%2023.7073%2016%2020.0976%2016C17.1707%2015.92%209.17075%2015.92%209.17075%2015.92Z'%20fill='%23D40511'/%3e%3cpath%20d='M34.878%2010.64L32.439%2016H26.0488L28.4878%2010.64H34.878Z'%20fill='%23D40511'/%3e%3cpath%20d='M44.1951%2010.64L41.7561%2016H35.3171L37.7561%2010.64H44.1951Z'%20fill='%23D40511'/%3e%3cpath%20d='M46.2927%2010.64C46.2927%2010.64%2045.8049%2011.68%2045.6098%2012.16C44.7805%2013.92%2045.5122%2016%2048.1464%2016C51.1707%2016%2058.4878%2016%2058.4878%2016L60.9268%2010.64H46.2927Z'%20fill='%23D40511'/%3e%3cpath%20d='M12.3415%20-1.70842e-05L10.0976%204.87998C10.0976%204.87998%2021.6585%204.87998%2022.2927%204.87998C22.9268%204.87998%2022.9268%205.27998%2022.5854%205.91998C22.2927%206.55998%2021.7561%207.75998%2021.4634%208.39998C21.3171%208.71998%2021.0244%209.35998%2021.9512%209.35998C22.9756%209.35998%2026.9268%209.35998%2026.9268%209.35998C26.9268%209.35998%2027.7561%207.59998%2028.3902%206.07998C29.3171%204.07998%2028.4878%20-0.0800171%2025.2195%20-0.0800171C22.2927%20-1.70842e-05%2012.3415%20-1.70842e-05%2012.3415%20-1.70842e-05Z'%20fill='%23D40511'/%3e%3cpath%20d='M44.7317%209.36H29.0244L33.3171%200H39.7561L37.3171%205.36H40.1951L42.6341%200H49.0732L44.7317%209.36Z'%20fill='%23D40511'/%3e%3cpath%20d='M57.9512%200L53.6586%209.36H46.8293L51.122%200H57.9512Z'%20fill='%23D40511'/%3e%3c/g%3e%3cdefs%3e%3cclipPath%20id='clip0_31491_317560'%3e%3crect%20width='70'%20height='16'%20fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e"
              alt="DHL" title="DHL" loading="lazy" /></span><span  class="slide"><img
               src="https://otypo.de/_nuxt/dpd.ilcPJH4B.svg" alt="DPD" title="DPD"
              loading="lazy" /></span><span  class="slide"><img 
              src="data:image/svg+xml,%3csvg%20width='35'%20height='40'%20viewBox='0%200%2035%2040'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20clip-path='url(%23clip0_33044_865699)'%3e%3cpath%20d='M5.12901%2033.04C2.2552%2030.72%200.717102%2027.36%200.717102%2023.36V4.35999C5.29091%201.99999%2010.7552%200.799988%2017.0695%200.799988C23.3838%200.799988%2028.8481%201.99999%2033.4219%204.39999V23.4C33.4219%2027.4%2031.8838%2030.76%2029.01%2033.08C26.379%2035.16%2018.0409%2038.8%2017.0695%2039.2C16.0981%2038.8%207.75996%2035.16%205.12901%2033.04Z'%20fill='%23330000'/%3e%3cpath%20d='M32.5314%204.16C30.4266%203.96%2028.2409%203.84%2026.0147%203.84C17.7576%203.84%208.93374%205.6%201.64803%2012.2V23.52C1.64803%2027.2%203.02422%2030.28%205.65517%2032.4C7.96232%2034.24%2015.0861%2037.44%2017.1099%2038.32C19.0933%2037.44%2026.1766%2034.32%2028.5647%2032.4C31.1957%2030.24%2032.5718%2027.24%2032.5718%2023.52V4.16M3.14565%2022.32V13.12H6.10041V22.44C6.10041%2023.28%206.30279%2024.48%207.67898%2024.48C8.1647%2024.48%208.65041%2024.36%209.09565%2024.12V13.16H12.0504V25.84C10.7147%2026.68%209.1766%2027.08%207.59803%2027C4.64327%2027%203.14565%2025.44%203.14565%2022.32ZM16.5028%2032.96H13.548V13.88C14.7623%2013.16%2016.1385%2012.8%2017.5552%2012.84C21.0766%2012.84%2023.0195%2015.48%2023.0195%2019.76C23.0195%2024.04%2021.1171%2026.96%2017.8385%2026.96C17.3933%2026.96%2016.948%2026.92%2016.5028%2026.8V32.96ZM16.5028%2024.4C16.8266%2024.52%2017.1504%2024.56%2017.4742%2024.56C19.1742%2024.56%2019.9837%2023%2019.9837%2019.8C19.9837%2016.52%2019.2552%2015.16%2017.5552%2015.16C17.1909%2015.16%2016.8266%2015.24%2016.5028%2015.36V24.4ZM23.6671%2016.68C23.7076%2014.56%2025.4885%2012.84%2027.6337%2012.88C28.8076%2012.8%2029.9409%2013.16%2030.8718%2013.84V16.4C30.1837%2015.68%2029.2123%2015.24%2028.2409%2015.2C27.3909%2015.2%2026.5409%2015.56%2026.5004%2016.6C26.4599%2017.68%2027.3504%2018.08%2028.4433%2018.72C30.9123%2020.16%2031.398%2021.44%2031.3171%2023.16C31.2766%2025.04%2029.9409%2027.08%2027.0266%2027.08C25.8933%2027.08%2024.7599%2026.76%2023.7885%2026.16V23.48C24.5576%2024.16%2025.5695%2024.6%2026.6218%2024.68C27.7147%2024.68%2028.4028%2024.08%2028.4028%2023.04C28.3623%2022.12%2027.8361%2021.64%2026.5409%2020.88C24.1123%2019.36%2023.6671%2018.2%2023.6671%2016.68ZM4.64327%2033.56C1.64803%2031.16%200.069458%2027.68%200.069458%2023.52V3.72C4.80517%201.24%2010.5123%200%2017.0695%200C23.6266%200%2029.3337%201.24%2034.0695%203.72V23.52C34.0695%2027.68%2032.4909%2031.16%2029.4956%2033.6C26.7433%2035.8%2018.0814%2039.6%2017.0695%2040C16.0576%2039.56%207.39565%2035.8%204.64327%2033.56ZM27.9171%2037.72V39.44H28.2409V38.72H28.2814C28.3218%2038.76%2028.7671%2039.44%2028.7671%2039.44H29.1314C29.1314%2039.44%2028.6456%2038.76%2028.6052%2038.68C28.848%2038.64%2029.0099%2038.44%2029.0099%2038.24C29.0099%2037.92%2028.7266%2037.68%2028.4433%2037.72H27.9171ZM28.4028%2037.96C28.6861%2037.96%2028.7266%2038.08%2028.7266%2038.2C28.7266%2038.36%2028.6457%2038.48%2028.3218%2038.48H28.2814V37.96H28.4028ZM29.6171%2038.6C29.6171%2039.64%2028.3623%2040.16%2027.5933%2039.4C26.8242%2038.64%2027.3909%2037.4%2028.4433%2037.4C29.0909%2037.44%2029.6171%2037.96%2029.6171%2038.6ZM28.4433%2037.16C27.1885%2037.16%2026.5409%2038.68%2027.4314%2039.56C28.3218%2040.44%2029.8599%2039.84%2029.8599%2038.56C29.8599%2037.8%2029.2123%2037.16%2028.4433%2037.16Z'%20fill='%23FFBE00'/%3e%3c/g%3e%3cdefs%3e%3cclipPath%20id='clip0_33044_865699'%3e%3crect%20width='34'%20height='40'%20fill='white'%20transform='translate(0.069458)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e"
              alt="UPS" title="UPS" loading="lazy" /></span>
        </div>
      </div>
    </div>
  </div>
  <div  class="navigation">
    <div  class="links">
      <div class="dropdown country-selector">
        <div aria-haspopup="true" aria-label="" class="dropdown-toggle rich-select-selected" role="button" tabindex="0">
          <picture class="custom-image">
            <img src="https://static.otypo.com/images/svg/flags-v2/de.svg" alt="deutschland" title="deutschland" width="24" height="24" class="" loading="lazy" draggable="false" fetchpriority="auto" />
          </picture>
          <span>deutschland</span>
          <i class="icon icon-arrow-drop-down --not-clickable"></i>
        </div>
        <div class="dropdown-menu dropdown-menu-top rich-select-options">
          <ul class="dropdown-list">
            <li class="rich-select-option">
              <a class="option-link" href="https://otypo.com/" hreflang="fr-FR" rel="noopener noreferrer">
                <picture class="custom-image">
                  <img src="https://static.otypo.com/images/svg/flags-v2/fr.svg" alt="frankreich" title="frankreich" width="24" height="24" class="" loading="lazy" draggable="false" fetchpriority="auto" />
                </picture>
                <span>frankreich</span>
              </a>
            </li>
            <li class="rich-select-option">
              <a class="option-link" href="https://otypo.de/" hreflang="de-DE" rel="noopener noreferrer">
                <picture class="custom-image">
                  <img src="https://static.otypo.com/images/svg/flags-v2/de.svg" alt="deutschland" title="deutschland" width="24" height="24" class="" loading="lazy" draggable="false" fetchpriority="auto" />
                </picture>
                <span>deutschland</span>
              </a>
            </li>
            <li class="rich-select-option">
              <a class="option-link" href="https://otypo.at/" hreflang="de-AT" rel="noopener noreferrer">
                <picture class="custom-image">
                  <img src="https://static.otypo.com/images/svg/flags-v2/at.svg" alt="österreich" title="österreich" width="24" height="24" class="" loading="lazy" draggable="false" fetchpriority="auto" />
                </picture>
                <span>österreich</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      {{#link "help_center" class="link"}}{{help_center.name}}{{/link}}
      <div class="separator"></div>
      <a  href="https://otypo.de/uber-uns/" class="link" link="true" preventdefault="false">Über uns </a>
      <div  class="separator"></div>
      <a  href="https://otypo.de/hilfe/" class="link" link="true" preventdefault="false">Hilfe </a>
      <div  class="separator"></div>
      <a  href="https://otypo.de/haendler/" class="link" link="true" preventdefault="false">Händler<img  width="13" height="13" loading="lazy" alt="/assets/svg/star.svg" title="/assets/svg/star.svg" src="data:image/svg+xml,%3csvg%20width='17'%20height='16'%20viewBox='0%200%2017%2016'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M8.97697%201.75072L10.4808%204.937C10.5854%205.15861%2010.7876%205.31217%2011.0215%205.34765L14.3843%205.85863C14.9734%205.9482%2015.2084%206.70493%2014.7823%207.13913L12.349%209.61928C12.1799%209.79174%2012.1026%2010.0404%2012.1426%2010.2838L12.7169%2013.7859C12.8176%2014.3993%2012.2019%2014.8669%2011.6751%2014.5776L8.66742%2012.9242C8.45827%2012.8093%208.20823%2012.8093%207.99908%2012.9242L4.99142%2014.5776C4.46464%2014.8672%203.84887%2014.3993%203.94955%2013.7859L4.52388%2010.2838C4.56393%2010.0404%204.48662%209.79174%204.31751%209.61928L1.88418%207.13913C1.45809%206.70464%201.69311%205.94791%202.28218%205.85863L5.64501%205.34765C5.87892%205.31217%206.08112%205.15861%206.18569%204.937L7.68952%201.75072C7.95263%201.19263%208.71359%201.19263%208.97697%201.75072Z'%20fill='%23FE7A1A'/%3e%3c/svg%3e" /></a>
      <div  class="separator"></div>
      <a  href="https://otypo.de/impressum-agb/" class="link" link="true" preventdefault="false">Impressum und AGB </a>
      <div  class="separator"></div>
      <a  href="https://otypo.de/angebot/" class="link" link="true" preventdefault="false">Angebot </a>
      <div  class="separator"></div>
      <a  href="https://otypo.de/lieferung/" class="link" link="true" preventdefault="false">Lieferung</a>
    </div>
  </div>
  <div class="infos">
    <span class="splk logo">
      <div class="brand-logo">
        <svg
          xmlns="http://www.w3.org/2000/svg" width="116" height="24" viewBox="0 0 217 48" fill="#0c4d5a">
          <path
            d="M97.8812 1.04401C98.1777 1.04401 98.4107 1.13105 98.5801 1.30513C98.7496 1.4792 98.8343 1.71855 98.8343 2.02318V10.6398C98.8343 10.9445 98.7496 11.1838 98.5801 11.3579C98.4107 11.532 98.1777 11.619 97.8812 11.619H87.2065C86.9947 11.619 86.8888 11.7278 86.8888 11.9454V45.7592C86.8888 46.0639 86.804 46.3032 86.6346 46.4773C86.4652 46.6514 86.2322 46.7384 85.9357 46.7384H75.8963C75.5998 46.7384 75.3668 46.6514 75.1974 46.4773C75.028 46.3032 74.9432 46.0639 74.9432 45.7592V11.9454C74.9432 11.7278 74.8373 11.619 74.6255 11.619H64.2685C63.972 11.619 63.739 11.532 63.5696 11.3579C63.4001 11.1838 63.3154 10.9445 63.3154 10.6398V2.02318C63.3154 1.71855 63.4001 1.4792 63.5696 1.30513C63.739 1.13105 63.972 1.04401 64.2685 1.04401H97.8812Z"
          ></path>
          <path
            d="M115.592 46.6079C115.295 46.6079 115.062 46.5208 114.893 46.3467C114.723 46.1727 114.638 45.9333 114.638 45.6287V31.2023L114.575 30.8106L101.613 2.21901L101.486 1.69679C101.486 1.26161 101.761 1.04401 102.312 1.04401H113.241C113.791 1.04401 114.172 1.30513 114.384 1.82735L120.421 17.4287C120.548 17.7334 120.675 17.7334 120.802 17.4287L126.838 1.82735C127.05 1.30513 127.431 1.04401 127.982 1.04401H138.974C139.525 1.04401 139.8 1.26161 139.8 1.69679L139.673 2.21901L126.584 30.8106C126.542 30.8977 126.52 31.0282 126.52 31.2023V45.6287C126.52 45.9333 126.436 46.1727 126.266 46.3467C126.097 46.5208 125.864 46.6079 125.567 46.6079H115.592Z"
          ></path>
          <path
            d="M163.206 1.04401C166.214 1.04401 168.861 1.67503 171.149 2.93707C173.436 4.15559 175.194 5.91809 176.423 8.22456C177.694 10.4875 178.329 13.0986 178.329 16.0579C178.329 18.9736 177.672 21.5412 176.359 23.7607C175.046 25.9801 173.203 27.6991 170.831 28.9176C168.459 30.1361 165.727 30.7454 162.635 30.7454H155.899C155.687 30.7454 155.582 30.8542 155.582 31.0718V45.7592C155.582 46.0639 155.497 46.3032 155.327 46.4773C155.158 46.6514 154.925 46.7384 154.628 46.7384H144.589C144.293 46.7384 144.06 46.6514 143.89 46.4773C143.721 46.3032 143.636 46.0639 143.636 45.7592V2.02318C143.636 1.71855 143.721 1.4792 143.89 1.30513C144.06 1.13105 144.293 1.04401 144.589 1.04401H163.206ZM161.237 20.9537C162.804 20.9537 164.054 20.5403 164.985 19.7134C165.96 18.8431 166.447 17.7116 166.447 16.319C166.447 14.8829 165.96 13.7297 164.985 12.8593C164.054 11.9889 162.804 11.5537 161.237 11.5537H155.899C155.687 11.5537 155.582 11.6625 155.582 11.8801V20.6273C155.582 20.8449 155.687 20.9537 155.899 20.9537H161.237Z"
          ></path>
          <path
            d="M197.98 47.473C194.938 47.3303 192.213 46.6213 189.805 45.3458C187.136 43.8662 185.061 41.8208 183.578 39.2097C182.095 36.5551 181.354 33.487 181.354 30.0055V17.7333C181.354 14.3389 182.095 11.3361 183.578 8.72502C185.061 6.11391 187.136 4.0903 189.805 2.65419C192.213 1.37874 194.938 0.669676 197.98 0.526986C198.854 0.486023 199.763 0.491934 200.628 0.543087C203.575 0.717427 206.194 1.42113 208.486 2.65419C211.197 4.0903 213.293 6.11391 214.776 8.72502C216.259 11.3361 217 14.3389 217 17.7333V30.0055C217 33.487 216.259 36.5551 214.776 39.2097C213.293 41.8208 211.197 43.8662 208.486 45.3458C206.194 46.5789 203.575 47.2826 200.628 47.4569C199.763 47.5081 198.854 47.514 197.98 47.473ZM200.628 36.8364C201.731 36.5918 202.656 36.0556 203.402 35.2278C204.504 34.0092 205.054 32.3991 205.054 30.3972V17.6028C205.054 15.6009 204.504 14.0125 203.402 12.8375C202.656 11.979 201.731 11.4229 200.628 11.1693C199.767 10.9714 198.85 10.9537 197.98 11.1094C196.763 11.3276 195.732 11.9036 194.888 12.8375C193.829 14.0125 193.3 15.6009 193.3 17.6028V30.3972C193.3 32.3991 193.829 34.0092 194.888 35.2278C195.732 36.1283 196.763 36.6838 197.98 36.8941C198.85 37.0444 199.766 37.0275 200.628 36.8364Z"
          ></path>
          <path
            d="M16.6263 47.473C13.5837 47.3303 10.8586 46.6213 8.45083 45.3458C5.78215 43.8662 3.70651 41.8208 2.2239 39.2097C0.741301 36.5551 0 33.487 0 30.0055V17.7333C0 14.3389 0.741301 11.3361 2.2239 8.72502C3.70651 6.11391 5.78215 4.0903 8.45083 2.65419C10.8586 1.37874 13.5837 0.669676 16.6263 0.526986C17.4998 0.486023 44.8841 0.491934 45.7489 0.543087C48.696 0.717427 51.3153 1.42113 53.6067 2.65419C56.3177 4.0903 58.4145 6.11391 59.8971 8.72502C61.3797 11.3361 62.121 14.3389 62.121 17.7333V30.0055C62.121 33.487 61.3797 36.5551 59.8971 39.2097C58.4145 41.8208 56.3177 43.8662 53.6067 45.3458C51.3153 46.5789 48.696 47.2826 45.7489 47.4569C44.8841 47.5081 17.4998 47.514 16.6263 47.473ZM45.7489 36.8364C46.8525 36.5918 47.7773 36.0556 48.5234 35.2278C49.6248 34.0092 50.1755 32.3991 50.1755 30.3972V17.6028C50.1755 15.6009 49.6248 14.0125 48.5234 12.8375C47.7773 11.979 46.8525 11.4229 45.7489 11.1693C44.8878 10.9714 17.4956 10.9537 16.6263 11.1094C15.4089 11.3276 14.3782 11.9036 13.534 12.8375C12.475 14.0125 11.9455 15.6009 11.9455 17.6028V30.3972C11.9455 32.3991 12.475 34.0092 13.534 35.2278C14.3782 36.1283 15.4089 36.6838 16.6263 36.8941C17.4963 37.0444 44.8865 37.0275 45.7489 36.8364Z"
          ></path>
        </svg>
      </div>
    </span>
    <div  class="note">Ihr Partner für Beschilderungen und Stempel<br  />
      Spezialisiert auf Gravur und Druck<br  />
      Professionelle Lösungen seit 1960</div>
  </div>
</footer>